.sidebar-about h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 0;
  font-weight:300;
  font-size: 3.0em;
 }

.footnote {
  font-size: 0.7em;
  margin-top: 0.5rem;
}

/* Dark theme */
.theme-dark .sidebar {
  background-color: #515151;
}
.theme-dark .content a,
.theme-dark .related-posts li a:hover {
  color: #268bd2;
}

/* title */
.brand a {
  text-decoration: none;
}

/* Tag list */
.tags {
  font-size: .7em;
}
.tags ul {
  padding: 0;
  list-style-type: none;
}
.tags li {
  display: inline;
}
